/* RGD: 2026-01-01 */
/* LCP, CLS Improved */
@font-face {
    font-family: 'BriceBold';
    src: url('//www.tribe-organics.com/cdn/shop/t/102/assets/BriceBold.woff2?v=148973898685888803141767464608') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}